.admin{

}
.admin-head{
  &__inner{
    background: $gray;
    margin-bottom: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
  }
  &__list{
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
  }
  &__item{
    display: block;
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__link{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: 'Roboto-Regular';
    transition: 0.3s color;
    &:hover{
      color: purple;
    }
  }
}
.admin-blogs{
  &__list{
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
  }
  &__item{
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $gray;
  }
  &__item-img{
    height: 100px;
    width: 150px;
    margin-right: 20px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__item-date{
    font-size: 12px;
    color: $gray2;
  }
  &__item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
  }
  &__item-title{
    font-size: 16px;
    font-family: 'Roboto-Bold';
  }
  &__item-edit{
    padding-left: 35px;
    margin-left: 15px;
    border-left: 1px solid $gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    a{
      font-family: 'Roboto-Regular';
      font-size: 14px;
      color: $purple;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &__add-blog{
    font-family: 'Roboto-Regular';
    font-size: 14px;
    color: $purple;
    text-decoration: none;
    display: flex;
    span{
      margin-right: 5px;
      border-radius: 50%;
      border: 1px solid $purple;
      display: flex;
      height: 15px;
      width: 15px;
      flex-direction: column;
      align-items: center;
    }
  }
}
.add-block{
  &__title{
    font-family: 'Roboto-Bold';
    color: black;
    font-size: 24px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 25px;
    &:after{
      content: '';
      position: absolute;
      height:2px;
      width: 100%;
      left: 0;
      top: 100%;
      background: $gray;
    }
  }
  &__form{
    display: flex;
    flex-direction: column;
  }
  label{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  span{
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Roboto-Regular';
    color: black;
  }
  &__image-input{
    width: 50%;
    height: 40px;
    background: white;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid $gray;
    transition: 0.3s border;
    &:hover{;
      border: 1px solid $darkGray;
      outline: none;
    }
    &:focus{
      outline: none;
    }
  }
  &__add-img{

    img{
      max-width: 250px;
      max-height: 250px;
    }
  }
  &__name-input{
    height: 40px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid $gray;
    transition: 0.3s border;
    padding-left: 15px;
    box-sizing: border-box;
    &:hover{;
      outline: none;
    }
    &:focus{
      border: 1px solid $darkGray;
      outline: none;
    }
  }
  &__text-input{
    width: 70%;
    height: 300px;
    resize: none;
    border-radius: 5px;
    border: 1px solid $gray;
    transition: 0.3s border;
    padding: 15px;
    box-sizing: border-box;
    &:focus{
      border: 1px solid $darkGray;
      outline: none;
    }
  }
  &__text{
    position: relative;
  }
  &__textShort{
   .add-block__text-input{
     height: 150px;
   }
  }
  &__butt{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 25px;
  }
}
.tag-list{
  display: flex;
  margin: 0 0 5px 0;
  padding: 0;
  li{
    padding: 0;
    margin: 0;
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s background-color;
    user-select: none;
    b{
      font-family: 'Roboto-Bold';
    }
    &:hover{
      background: #ede2e2;
    }
    &:active{
      background: #bcbcbc;
    }
  }
}