.footer{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background: #17113850;
  &__content{
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      color: $gray2;
      font-family: Roboto-Regular;
      font-size: 12px;
    }
  }
}